<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hackathon.byteme.card_reader"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
         Used to let our app request access for NFC Access
    -->
    <users-permission android:name="android.permission.NFC"/>
    <uses-sdk android:minSdkVersion="19"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <!--
        Tells the app which kind of nfc action to look for while waiting
        for an NFC event.
    -->
    <intent-filter>
        <action android:name="android.nfc.action.TAG_DISCOVERED"/>
    </intent-filter>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- NFC-related intent filter. Allows application to handle messages from any
     NFC-A devices discovered. Other Android devices are required to support NFC-A.
     See: res/xml/nfc_tech_filter.xml -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED" />


        </activity>

        <!--
            Intent Filter identifies which NDEF Tags we care about. When the OS
            identifies one, this application will be the one that opens.

        <intent-filter>
            <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="http"
                  android:host="byteme.hackathon.ca"
                  android:pathPrefix="/index.html" />
        </intent-filter>
-->



</application>

</manifest>
