<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hackathon.byteme.card_reader"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
             Used to let our app request access for NFC Access
        -->
        <users-permission android:name="android.permission.NFC"/>
        <uses-sdk android:minSdkVersion="19"/>
        <uses-feature android:name="android.hardware.nfc" android:required="true" />
        <!--
            Tells the app which kind of nfc action to look for while waiting
            for an NFC event.
        -->
        <intent-filter>
            <action android:name="android.nfc.action.TAG_DISCOVERED"/>
        </intent-filter>


</application>

</manifest>
